:root {
    --banner-height: 4rem;
}

* {
    border: 1px solid red;
}

html,body{
    margin:0;
    padding:0;
    height: 110%;
}

.main {
    margin-top: var(--banner-height);
    margin-bottom: var(--banner-height);
    flex-flow: column;
    justify-content: center!important;
    gap: 5rem!important;
    height: 100%;
}

.header, #branding, .main, .content-head, .content, .content>*, .footer, .header-links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.header, .footer {
    height: var(--banner-height);
    position: fixed;
    width: 100%;
    background-color: #0060a0;
}

.header{
    top: 0;
    left: 0;
}

.footer{
    bottom: 0;
    left: 0;
}


.header-links ul{
    list-style-type: none;
}

.content-head{
    justify-content: center;
}

.main > *{
    width: 100%;
}

.content>*{
    justify-content: center;
    gap: 2rem;
}

.content{
    flex-flow: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: stretch;
}

.footer{
    justify-content: center;
}

.link-btn {
    border-radius: 0.25rem;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    text-decoration: none;
    background-color: #0060a0;
    color: #ffffff;
    padding: 0.25rem 1rem;
    cursor: pointer;
}

.link-btn:hover {
    background-color: #004080;
}